*{
  scrollbar-color: #9496f4 #ecebf0;
}

html{
    scroll-behavior: smooth;
    overflow: scroll;
}

@font-face {
  font-family: PublicPixel;
  src: url('/frontend/fonts/PublicPixel.ttf');
}

body{
    font-family: PublicPixel;
    background-image: url(/frontend/images/vap.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    color: #322738;
    text-shadow: 1px 2px #ecebf0;

}

p {
  margin: 0%;
  padding: 0%;

  text-align: center;
  text-justify: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 4px 4px 6px #322738;

  padding: 12px;

  width: 50vw;
  font-size: 20px;

  border-right: 2px solid #322738;
  border-bottom: 2px solid #322738;
  border-left: 2px solid #ecebf0;
  border-top: 2px solid #c4b9c1;
  border-radius: 12px;
  background-color: #c4b9c1;
}

header p{
  padding: 20px;
  background-color: #9496f4;
  border-radius: 4px;
}

.main-box{
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;

  gap: 16px;
  padding: 12px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.inner-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 16px;
  padding: 12px;
  line-height: 18px;
  max-width: 50vw;

  box-shadow: 6px 6px 6px #322738;

  border-radius: 8px;
  border-right: 2px solid #322738;
  border-bottom: 2px solid #322738;
  border-left: 2px solid #ecebf0;
  border-top: 2px solid #c4b9c1;

  background-color: #c4b9c1;
}

main img{
  border-radius: 12px;

  border-right: 2px solid #322738;
  border-bottom: 2px solid #322738;
  border-left: 2px solid #ecebf0;
  border-top: 2px solid #c4b9c1;

  box-shadow: inset 2px 2px 2px #322738;
}

.becca-dash{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.dashboard{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 8px;
  min-width: 46vw;

  border-radius: 12px;

  border-right: 2px solid #322738;
  border-bottom: 2px solid #322738;
  border-left: 2px solid #ecebf0;
  border-top: 2px solid #c4b9c1;

  background-color: #c4b9c1;

  box-shadow: 6px 6px 6px #322738;

  margin-top: 10px;
}

.dash-title{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 12px;
  background-color: #8780cc;
  width: 43vw;
  padding: 8px;
  border-radius: 4px;

}

.dash-par{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 6px;
}

.dash-par a{
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 5vw;

  text-decoration: none;

  border-radius: 8px;
  border-right: 2px solid #322738;
  border-bottom: 2px solid #322738;
  border-left: 2px solid #ecebf0;
  border-top: 2px solid #c4b9c1;

  color: #4b3f69;
  background-color: #9496f4;
  padding: 6px;
}


.dash-par a:hover{
  background-color: #3e3e65;
  color:#ecebf0;
  text-shadow: 1px 2px #9496f4;
  cursor: pointer;
}

.dash-par a:active{
  border-left: 2px solid #322738;
  border-top: 2px solid #322738;
  border-right: 2px solid #ecebf0;
  border-bottom: 2px solid #c4b9c1;

  transform: translateY(0.5px);
}

.dash-items{
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 8px;
  border-right: 2px solid #322738;
  border-bottom: 2px solid #322738;
  border-left: 2px solid #ecebf0;
  border-top: 2px solid #c4b9c1;
  background-color: #c4b9c1;

  padding: 8px;
  margin: 16px;
}

.item-header{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #9496f4;
  padding: 6px;
  font-size: 22px;
  min-width: 70vw;
}

.item-par{
  padding: 24px;
}

aside{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 16px;
  padding: 12px;

  box-shadow: 6px 6px 6px #322738;

  border-radius: 8px;
  border-right: 2px solid #322738;
  border-bottom: 2px solid #322738;
  border-left: 2px solid #ecebf0;
  border-top: 2px solid #c4b9c1;

  background-color: #c4b9c1;
}

.poster{
  margin: 8px;
  border-radius: 8px;

  border-right: 2px solid #322738;
  border-bottom: 2px solid #322738;
  border-left: 2px solid #ecebf0;
  border-top: 2px solid #c4b9c1;

  box-shadow: 6px 6px 6px #322738;

  transition: transform 300ms ease-in-out;
}

.poster:hover{
  transform: scale(1.1);
  cursor: pointer;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 4px 4px 6px #322738;

  gap: 16px;
  padding: 12px;
  margin-top: 128px;

  border-radius: 12px;
  border-right: 2px solid #322738;
  border-bottom: 2px solid #322738;
  border-left: 2px solid #ecebf0;
  border-top: 2px solid #c4b9c1;

  background-color: #c4b9c1;
}

/* 8780cc */

#main-title{
  margin-bottom: 10px;
  background-color: #8780cc;
  width: 27vw;
  padding: 8px;
  border-radius: 4px;
}

#main-par{
  font-size: 18px;
  line-height: 28px;
}

#aside-title{
  padding: 8px;
  display: block;
  width: 20vw;
  background-color: #8780cc;
  border-radius: 4px;
}

.box-par{
  border-top: 1px solid #322738;
  padding-top: 12px;
}

#aside-par{
  border: none;
  padding: 0%;

  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 32px;
}

#aside-par a{
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;

  font-size: 18px;
  padding: 8px;
  margin: 4px;
  min-width: 12vw;
  max-width: 12vw;

  border-radius: 12px;
  border-right: 2px solid #322738;
  border-bottom: 2px solid #322738;
  border-left: 2px solid #ecebf0;
  border-top: 2px solid #c4b9c1;

  color: #4b3f69;
  background-color: #9496f4;
  box-shadow: 2px 2px 4px #322738;
  filter: drop-shadow(1px 2px 2px #322738);
}

#aside-par a:hover{
  background-color: #3e3e65;
  color:#ecebf0;
  text-shadow: 1px 2px #9496f4;
  cursor: pointer;
}

#aside-par a:active{

  border-left: 2px solid #322738;
  border-top: 2px solid #322738;
  border-right: 2px solid #ecebf0;
  border-bottom: 2px solid #c4b9c1;

  transform: translateY(0.5px);
}

.drop-shadow{
  filter: drop-shadow(1px 2px 2px #322738);
}

.drop-shadow:hover{
  filter: drop-shadow(1px 2px 2px #ecebf0);
}

#fm-logo{
  border-radius: 50%;
}